body {
  padding: 2%;
  box-sizing: border-box;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button {
  color: #fff;
  border: #aaa 2px solid;
  background: #000;
  height: 50px;
}

p {
  font-weight: 600;
  color: #115688;
}
