/* Styling the body */
body {
  box-sizing: border-box;
  padding-left: 2%;
}

/* Table styling */

.header {
  background: #333;
  border: #333 4px solid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  width: fit-content;
  box-sizing: border-box;
}

table caption {
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 25px;
}

/* the table declaration */
.container {
  background: #fff;
  border-radius: 0 0 25px 25px;
  border-spacing: 0;
}

tr th {
  color: #38358c;
  background: #fff;
  padding: 5px 10px;
  font-weight: bold;
}

/* Styling the odd of the table row */
tr:nth-child(odd) {
  background: #f2f2f2;
}

/* Styling the even of the table row */
tr:nth-child(even) {
  background: #cdbb79;
}

/* Border-radius styling to all child element */
tr:last-child {
  border-radius: 0 0 25px 25px;
}

tr:last-child > td:first-child {
  border-radius: 0 0 0 25px;
}

tr:last-child > td:last-child {
  border-radius: 0 0 25px 0;
  background: rgb(20, 202, 187);
}

/* Old days of the calender */
td.old {
  background-color: rgba(72, 4, 4, 0.064);
}

/* Styling the table data */
td {
  height: 75px;
  width: 75px;
  padding-bottom: 2px;
  padding-right: 2px;
  vertical-align: top;
  font-weight: bold;
}

/* Making the span hidden */
td span {
  display: block;
  visibility: hidden;
  color: #e01313;
  text-align: center;
}

/* Span become become visible on click */
td:active > span {
  display: block;
  visibility: visible;
}
